body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 35px;
    width: 454px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 41px;
    width: 469px;
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 0;
}

p {
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 35px;
}

.container {
    margin-top: 90px;
    box-sizing: border-box;
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style-type: none;
}

.slider {
    padding-left: 0;
    display: flex;
    align-content: space-between;
    height: auto;
    margin-right: -23px;
    margin-left: -8px;
}

.pict {
    width: 280px;
    height: 283px;
    padding: 12px 12px;
    width: 25%;
    box-sizing: border-box;
    position: relative;
    flex: 0 1 auto;
}

.hl-menu {
    display: flex;
    justify-content: end;
    padding: 0;
    margin-top: -9px;
}

.hl-menu-item {
    margin-right: 26px;
    font-family: Crimson Text;
    font-style: italic;
}

.hl-menu-item a {
    text-decoration: none;
    color: #1E0606;
}

.hl-menu-item-str a {
    opacity: 0.5;
}

input,
button,
fieldset {
    border: none;
}

.link:disabled {
    background: #C1C1C1;
}

.page-num a {
    font-weight: bold;
    text-transform: uppercase;
    color: #1E0606;
    text-decoration: none;
}