.coll-discription h5 {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.left {
    margin-top: 63px;
    margin-left: 49px;
}

.left h1 {
    font-size: 40px;
    line-height: 110%;
}

.left p {
    font-size: 18px;
    font-family: 'Crimson Text';
    font-style: italic;
    margin-bottom: 36px;
    margin-top: -13px;
}

.coll-discription {
    width: 100%;
    padding: 13px 0;
    background: #C29974;
}

.right {
    margin-left: -92px;
    height: 476px;
    position: relative;
    margin-top: -92px;
}

.block-about {
    object-fit: fill;
    width: 100%;
    height: 100%;
    object-position: center;
}

.background {
    height: 100%;
    background: #EEE4DB;
}

.lr-wrapper {
    padding-right: 85px;
    display: flex;
    justify-content: space-between;
}

.arrow-prod {
    background: rgba(112, 187, 220, 0.2);
    border: 0;
    padding: 1px 10px;
}

.opis-slide {
    width: 580px;
    height: 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: auto;
    flex: 0 1 auto;
    margin-left: 22px;
}

.del-link {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
    text-decoration: none;
}

.delivery:hover {
    width: 326px;
    background: rgba(112, 187, 220, 0.2);
}

.delivery:hover .del-link {
    font-weight: bold;
}

.logo {
    width: 216px;
    height: 46px;
}

.block-about-us-first {
    width: 50%;
    height: 236px;
    position: relative;
}

.block-about-us-sec {
    width: 50%;
    height: 236px;
    position: relative;
}

.block-about-us-first::before {
    content: "";
    width: calc(100% - 48px);
    height: calc(100% + 7px);
    top: 53px;
    position: absolute;
    background-color: #E1F0F7;
}

.block-about-us-sec::before {
    content: "";
    width: calc(100% - 38px);
    height: calc(100% + -20px);
    top: 53px;
    position: absolute;
    background-color: #E1F0F7;
}

.main-block-contacts {
    padding-left: 20px;
    padding-right: 20px;
    width: 543px;
    height: 356px;
    background: #E1F0F7;
}

.knop-slide {
    margin-top: 17px;
    display: inline-flex;
    align-content: flex-start;
}

.wrapper {
    display: flex;
    align-content: space-between;
}

.del-right {
    width: 41%;
}

.del-opis {
    margin-top: 32px;
    margin-bottom: 45px;
}

.del-opis p {
    margin-bottom: auto;
}

.pad h2 {
    margin-bottom: 0;
}

.pad ul {
    margin-left: -60px;
    margin-top: 10px;
}

.delivery {
    padding: 10px 0;
    padding-left: 60px;
}

.pad {
    padding-left: 120px;
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
}

.wom-wrap {
    position: relative;
}

.wom-wrap img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.about-us-wrapper {
    display: flex;
    margin-top: 84px;
    justify-content: space-between;
}

.about-us-wrapper h2 {
    margin-bottom: 9px;
    margin-top: 24px;
}

.about-us-wrapper p {
    width: 490px;
}

.block-about-us-wrapper-first {
    position: absolute;
    padding-left: 31px;
    width: 460px;
}

.block-about-us-wrapper-sec {
    position: absolute;
    padding-left: 40px;
    width: 460px;
}

.img-wrap {
    width: 501px;
    position: relative;
    margin-top: -7px;
}

.img-pict {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.page {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 60px;
    margin-top: 17px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
}

.oncl{
    width: 31px;
    height: 3px;
    background: #D6CAC2;
}

.oncl:hover{
    background: #725F5B;
    cursor: pointer;
}

.ul-fl {
    padding: 0px;
    margin: 5.5px;
    height: 4px;
}

.ul-page {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.main-slide {
    margin-left: 27px;
    margin-top: 3px;
}

.loge{
    margin-left: -22px;
    margin-top: 11px;
}