.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(125, 151, 218, 0.8);
  z-index: 20;
  transition: .3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 620px;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  padding: 30px;
  border-radius: 3px;
  transition: 0.3s all;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}