body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.main-header {
    font-size: 40px;
    width: 523px;
}
h1 {
    font-size: 35px;
    width: 454px;
}

.link-products {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    width: 167px;
    position: absolute;
    top: 44%;
    left: 20%;
}

.prod-two{
    top: 39%;
}

.link-products:hover {
    text-decoration: underline;
}

h2 {
    font-size: 41px;
    width: 490px;
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 35px;
}

.container {
    margin-top: 90px;
    box-sizing: border-box;
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

.slider {
    padding-left: 0;
    display: flex;
    align-content: space-between;
    height: auto;
    margin-right: -23px;
    margin-left: -8px;
}

.pict {
    width: 280px;
    height: 283px;
    padding: 12px 12px;
    width: 25%;
    box-sizing: border-box;
    position: relative;
    flex: 0 1 auto;
}

.hl-menu {
    display: flex;
    justify-content: end;
    padding: 0;
    margin-top: -9px;
}

.hl-menu-item {
    margin-right: 26px;
    font-family: 'Crimson Text';
    font-style: italic;
}

.hl-menu-item a {
    text-decoration: none;
    color: #1E0606;
}

.hl-menu-item-str a {
    opacity: 0.5;
}

input,
button,
fieldset {
    border: none;
}
.cont-2 {
    margin-top: 56px;
}

legend {
    font-weight: bold;
}


.custom-check {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-check+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #C29974;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-check:checked+label::before {
    border-color: #c29974;
    background-color: transparent;
    background-size: 15px;
    background-position: bottom;
    background-image: url("../img/vec.svg");
}

.custom-check:not(:disabled):not(:checked)+label:hover::before {
    cursor: pointer;
}

.custom-lab:hover{
    text-decoration: underline;
    cursor: pointer;
}

.custom-check:not(:disabled):active+label::before {
    background-color: transparent;
    border-color: #b3d7ff;
    cursor: pointer;
}

.link {
    background: #000000;
    padding: 13px 20px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.link:disabled {
    background: #C1C1C1;
}

.link:not(:disabled):active {
    background-color: #CFAF91;
}

.link:not(:disabled):hover {
    background-color: #C29974;
}
.page{
    font-weight: bold;
    text-transform: uppercase;
    color: #1E0606;
    text-decoration: none;
}

.link-page {
    display: flex;
    margin-top: 83px;
    margin-bottom: -12px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #1E0606;
}

.page-num:hover{
    opacity: 0.5;
}

.page-num {
    margin: 0 35px;
}

.page-check{
    color: #C29974;
}